body {
  background-color: #000;
  font-family: "Roboto", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  max-width: 375px;
  height: 0;
  padding: 0;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 26px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

main {
  background-image: url("./img/background.jpg");
  overflow: hidden;
}

.marquee-container {
  margin-bottom: 20px;
  background: linear-gradient(to right, rgb(163, 232, 149), rgb(139, 204, 200));
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-e {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-e 55s linear infinite;
}

@keyframes marquee-e {
  0% {
    transform: translateX(-12%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee span {
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  padding-right: 100%;
}

.edocument {
  padding: 50px 0;
}

.edocument-item {
  padding: 30px 0px;
  background-color: #ffffff89;
  max-width: 310px;
  border-radius: 18px;
  box-shadow: 1px 1px 2px #b6b6b6;
}

.edocument-item-title {
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.edocument-item-info {
  margin-left: 20px;
  margin-bottom: 70px;
  display: flex;
  gap: 20px;
}
.edocument-item-img {
  border-radius: 11px;
  box-shadow: 1px 1px 2px #b6b6b6;
}
.edocument-item-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.edocument-item-info-item-p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.edocument-item-info-item-p span {
  margin-bottom: 5px;
}

.edocument-item-footer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}
.edocument-item-footer-p {
  font-size: 18px;
  font-weight: 500;
}
.edocument-item-btn {
  padding: 0;
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: auto;
}
.edocument-item-btn-img {
  border-radius: 50px;
}

.rdocument-item {
  padding: 30px 0px;
  background-color: #ffffff89;
  max-width: 310px;
  border-radius: 18px;
  box-shadow: 1px 1px 2px #b6b6b6;
}

.rdocument-item-info {
  margin-left: 20px;
}
.rdocument-item-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}
.rdocument-rnokpp {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
}
.rdocument-pip {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.rdocument-item .rdocument-data {
  margin-bottom: 57px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.rdocument-item .marquee-r {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-r 110s linear infinite;
}

@keyframes marquee-r {
  0% {
    transform: translateX(-8%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.rdocument-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.rdocument-footer-title {
  font-weight: 500;
  font-size: 28px;
}
.rdocument-btn-copy {
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rdocument-btn-more {
  padding: 0;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rdocument-btn-img-more {
  border-radius: 50%;
}

.pdocument-item {
  padding: 30px 0px;
  background-color: #ffffff89;
  max-width: 310px;
  border-radius: 18px;
  box-shadow: 1px 1px 2px #b6b6b6;
}

.pdocument-item-title {
  margin-left: 20px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}
.pdocument-item-info {
  margin-left: 20px;
  margin-bottom: 37px;
  display: flex;
  gap: 20px;
}
.pdocument-item-img {
  border-radius: 11px;
  box-shadow: 1px 1px 2px #b6b6b6;
}
.pdocument-item-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pdocument-item-info-item-p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.pdocument-item-info-item-p span {
  margin-bottom: 5px;
}

.pdocument-item-signature {
}

.marquee-p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee-p 110s linear infinite;
}

@keyframes marquee-p {
  0% {
    transform: translateX(-8%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.pdocument-item-footer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}
.pdocument-item-footer-p {
  font-size: 18px;
  font-weight: 500;
}

.pdocument-item-btn {
  padding: 0;
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: auto;
}

.pdocument-item-btn-img {
  border-radius: 50%;
}

.swiper {
  padding-bottom: 50px !important;
  position: relative !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  overflow: visible !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px !important;
}

.swiper-slide {
  transition: transform 0.3s ease;
}
.swiper-slide-active {
  transform: scale(1.1) !important;
}
.swiper-pagination {
  margin-top: 20px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 17px 0 15px;
  background-color: black;
}
.footer-list {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer-item {
  color: white;
  font-size: 10px;
}
.footer-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-item-icon {
  height: 22px;
  width: auto;
  margin-bottom: 3px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff !important;
  opacity: 1;
}
.swiper-pagination-bullets-active {
}
